/* **********nav bar css*********** */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
}
body{
    position: relative;
}
#navtop{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    align-items: center;
    background-color: rgb(180, 1, 64);
    color: white;
    padding-bottom: 0;
}
#navtop>div{
    display: flex;
    margin: 0 10px;
}
#navtop>div>div{
    margin: auto 10px;
    padding-bottom: 0;
}
#navtop>div:hover{
    cursor: pointer;
}
#navtop>div>div:hover{
    cursor: pointer;
}
#top{
    position: relative;
    width: 100%;
    margin-top: 0;
}
.nav{
    background-color: rgb(228, 48, 102);  
}
#logo{
    width: 150px;
    margin-top: 5px;
}
.nav ul{
    display: flex;
    justify-content: space-around;
    padding: 0px 100px;
}
.nav ul li{
    display: flex;
    /* line-height: 60px; */
    margin: auto;
}
.nav ul li a{
    color: white;
    font-size: 15px;
}
a:hover{
    cursor: pointer;
    text-decoration: none;
}
input[type=search] {
    width: 100%;
    padding: 8px 10px;
    margin: auto ;
    display: inline-block;
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-sizing: border-box;
    
  }
#search-btn{
    padding: 0 10px;
    background-color: black;
    color: white;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#search-btn:hover{
    background-color: rgb(58, 57, 57);
}
.menus{
    background-color: rgb(236,236,237);
}
.menus ul{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}
.menus ul li{
    line-height: 40px;
    background-color: rgb(236,236,237);
    font-weight: 500;
}
.menus ul li a{
    color: black;
}
.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 3px;
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.submenu{
    display: none;
}
.menus ul li:hover .submenu{
    display: inline-block;
    position:absolute; 
    margin-top: 35px;
    margin-left: -15px; 
}
.menus ul li:hover .submenu ul{
    display: block;
    margin-left: -100px;
}
.menus ul li:hover .submenu ul li{
    width: 185px;
    text-align: left;
}
.menus ul li:hover .submenu ul li a{
    margin-left: 10px;
    margin-right: 10px;
}
.menus ul li:hover .submenu ul li:hover, .menus ul li:hover .submenu ul li a:hover{ 
    background-color: white;
    color: rgb(0,142,204);
    font-size: 15px;
}
.banner1>button{
    /* top: 20%; */
    background-color: red;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    text-align: center;
}
.man{
    position: relative;
    transform: translate(-50%, -50%); 
    -ms-transform: translate(-50%, -50%);
    top: 15%;
    left: 44%;
}
.woman{
    position: relative;
    transform: translate(-50%, -50%); 
    -ms-transform: translate(-50%, -50%);
    top: 15%;
    left: 46%;
}
.man:hover, .woman:hover{
    border: 1px solid red;
    color:red;
    background: transparent;
}
/* *******slider css******* */
.slidermain{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.slidermain .subslider{
    margin: auto;
    font-weight: 1000;
}
.sliderbtn{
    background-color: black;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}
.sliderbtn:hover{
    background-color: rgba(0, 0, 0, 0.767);
}
/* *******BANNERS GRID******** */
.banners{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 20px 0;
}
.banners>div>img{
    width: 100%;
    height: 90%;
    padding: 0 20px;
}
/* ******options images banner***** */
.imgbanner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 90%;
    border: 0px solid red;
    margin: auto;
}
.imgbanner>div{
    margin: auto;
    text-align: center;
}
.imgbanner>div>img{
    width: 55%;
    display: block;
    margin: auto;
}
@media (max-width:968px){
    #navtop{
    display: block;
    margin-bottom: 0;
    align-items: center;
    background-color: rgb(180, 1, 64);
    color: white;
    padding-bottom: 0;
    }
    .nav ul{
    display: block;
    padding: 0px 100px;
    }
    .nav #nav-search{
        width: 100%;
    }
    .nav ul{
    display: block;
    padding: 0px 100px;
    }
    .menus ul{
    display: block;
    }
    .banners{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 20px 0;
    }
    .imgbanner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 90%;
        border: 1px solid red;
        margin: auto;
    }
}
/*************footer*************/
.fav {
    padding: 20px;
    /* font-size: 30px; */
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 20px;
}

.fav:hover {
    color: black;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 26px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 26px;
}

.fa-google {
    background: red;
    color: white;
    border-radius: 26px;
}

.fa-youtube {
    /* background: #bb0000; */
    background: brown;
    color: white;
    border-radius: 26px;
}

.fa-instagram {
    background: #125688;
    color: white;
    border-radius: 26px;
}

.fa-android {
    background: #a4c639;
    color: white;
    border-radius: 20px;
}
#footer_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin-top: 20px;

}

#sub_footer_1 {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 5px;

}

#sub_footer_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d4dbf5;
    padding-top: 10px;
    padding-bottom: 5px;
}

#social_media_h2 {
    font-weight: 900;
    font-size: 30px;
}



#email_inside{
    width:100%;
    height: 35px;
    outline: none;
    background-color: beige;
    text-align: center;
    font-weight: 700;
    border-radius:14px;
  
}

#email {
    width:55%;
    margin-bottom: 10px;
    
}
#sign_up_btn {
    width: 300px;
    height: 35px;
    font-weight: 600;
    background-color: black;
    color: white;
    border: 5px solid beige;
    border-radius: 17px;
}

#sign_up_btn a {
    text-decoration: none;
    color: white;
}

#sign_up_btn a:hover {
    color: red;
}

#sub_footer_1_h2 {
    color: white;
    font-weight: 600;
    padding-bottom: 15px;
    cursor: default;
}

#sub_footer_1_p {
    color: white;
    padding-bottom: 18px;
}

#social_media_h2 {
    cursor: default;
}

@media screen and (min-width:300px) and (max-width:900px) {
    #footer_section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        /* text-align: center; */
    }

    #sub_footer_1_h2 {
        text-align: center;
    }

    #sub_footer_1_p {
        text-align: center;
    }

    #social_media_h2 {
        text-align: center;
    }
}

#help_section {
    background-color: rgb(244, 240, 240);
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding-top: 30px;
    padding-bottom: 10px;
}

.sub_help_section>h5>a {
    color: black;
    font-weight: 600;
    text-decoration: none;

}

.sub_help_section>h5>a:hover {

    color: red
}

#end_div {
    background-color: rgb(239, 232, 225);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

@media screen and (min-width:301px) and (max-width:800px) {
    #help_section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
}
/* from here new design */

/* display login user style */
.alreadyloginuser{
    display: block;   
}
.signinSignuptextnone{
    display:none;
}
/* end */




#cart-count{
    /* background-color: white; */
    color: white;
    font-weight: 600;
  }