* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(20, 21, 20);
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 41%;
    transform: translate(-20%, -40%) scale(0.1);
    text-align: center;
    padding: 10px 20px 15px 20px;
    color: rgb(16, 15, 15);
    visibility: hidden;
    transition: transform 0.2s, top 0.10s;
}

.open-Popup {
    visibility: visible;
    top: 3%;
    transform: translate(5%) scale(1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#popup h5,
p {
    color: rgb(222, 240, 132);
}