*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 15%;
    display: block;
    margin: auto;
    margin-top:20px ;
}
#signup-form{
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 50px;
    border-radius: 10px;
    background-color: #E1BEE7;
}
#signup-form>h3{
    margin-bottom: 15px;
    text-align: center;
}
.input{

    display: block;
    margin: auto;
    width: 100%;
    height: 33px;
    margin-top: 20px;
    /* border: 0.1px solid black; */
    border: none;
    border-radius: 5px;
    padding: 8px;



}
form>p{
    font-size: 10px;
    color: gray;
    margin-bottom: 20px;
}

.input:focus{
    outline: none;
    border: 1px solid hotpink;

}
#register{
    background-color: green;
    color: white;
    cursor: pointer;
    font-size: 15px;
}
#register:hover{
    background-color: rgb(29, 143, 29);
}
#signup-form>p{
    padding: 8px;
    font-size: 13px;
}