@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}
.women-header{
    width: 90%;
    margin: auto;
    text-align: center;
    margin: 1rem;
}
.filter-section{
    width: 90%;
    margin: auto;   

}
select{
    width: 10%;
    height: 40px;
    margin: 1rem;
    background-color: white;
    outline: none;
    border: none;
}
#all-product-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 90%;
    margin: auto;
    gap: 5px;
    cursor: pointer;
}
#all-product-section>div{
  /* border: 1px solid red; */
  padding: 20px;
}
#all-product-section>div>img{
    width: 100%;
}
#all-product-section p{
    margin: 3px;
}
.price-style{
    font-weight: 700;
    display:flex;
    justify-content: space-between;
}
.price-style>:nth-child(2){
    text-decoration: line-through;
    /* border: 1px solid red; */
    color: gray;
}
.price-style>:nth-child(3){
    color: grey;
}